.sign{
    background:linear-gradient($color--lavender, $color--green);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 28px;
    min-height: calc(100vh - 200px);
    &__container{
        background-color: rgba(255, 255, 255, 0.1);
        border: 2px solid $color--white;
        border-radius: 40px;
        color: $color--white;
        padding: 60px 40px;
        min-height: 600px;
        width: 300px;
        display: flex;
        flex-direction: column;
    }
    &__container--form{
        display: flex;
        flex-direction: column;
    }
    &__container--form label{
        font-size: 1.4rem;
    }
    &__container--remember-me{
        color: $color--white;
        display: flex;
        justify-content: space-between;
        margin-top: 12px;
    }
    &__container--remember-me a{
        color: $color--white;
        font-size: 1.4rem;
        text-decoration: none;
        text-align: end;
    }
    &__container--remember-me a:hover{
        text-decoration: underline;
    }
    &__container--social-media > div{
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        margin-top: 12px;
        margin-bottom: 12px;
    }
    &__container--social-media > div > img{
        width: 30px;
        margin-right:10px;
    }
    &__container--register{
        font-size: 1.4rem;
    }
    &__container--register a{
        color: $color--white;
        font-weight: bold;
        font-size: 1.6rem;
        text-decoration: none;
    }
    &__container--register a:hover{
        text-decoration: underline;
    }
}
.input{
    background-color: transparent;
    border-top:none;
    border-right:none;
    border-left:none;
    border-bottom: 2px solid $color--white;
    font-size: 1.6rem;
    font-family: $Fuente;
    margin-bottom: 20px;
    padding: 8px 20px;
    outline: none;
    height: 5rem;
    color: $color--white;
}
::placeholder{
    color: $color--white;
}
.button{
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 25px;
    color: $color--white;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: $Fuente;
    letter-spacing: 2px;
    height: 5rem;
    margin: 10px 0;
}