head 
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Page 
    link(href="https://fonts.googleapis.com/css?family=Muli&amp;display=swap" rel="stylesheet")
    link(link rel="stylesheet" href="../sass/styles.css")